@import "bourbon/bourbon";
@import "neat/neat";

$n: none;
$c: center;

/* CSS DOCUMENT */

body {
	margin: 0;
	padding: 0;
	font-family: $helvetica;
}

h1 {
	display: $n;
	text-align: $c;
}

h2 {
	text-align: $c;
}

header {
	background-color: #086A87;
	padding: 0;
	margin: 0;
}

.logo {
	margin: 1em 0 0 1em;
}

nav {
	float: right;
}

.text {
	text-align: $c;
	font-size: 14px;
	padding: 0 1.8em 0 1.8em;
	display: $n;
}

.pro {
	background-color: #CEE3F6;
	padding: 1em;
	margin: 1em;

	img {
	display: block;
	margin: 0 auto 0 auto;
	height: 150px;
	width: 150px;
	}

	.info {
		margin: 0 0 0 2em;
	}
}

footer { 
	padding: 2em 2em 3em 2em;
	color: white;
	background-color: #232447;
	height: 22em;

	.copy {
			font-size: 10px;
		}
}